ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  background-color: red;
  padding: 10px;
}

ul > li {
  list-style: none;
  /* list-style-type: disc; */
  /* list-style-position: inside; */
  padding: 10px;
  /* margin-bottom: 5px; */
  /* margin-top: 10px; */
  /* margin: 10px; */
  background-color: antiquewhite;
}
